
<footer class="footer py-4 js-page-footer">
  <div class="main">
    <div style="width: 100%; text-align: center; position: relative"><small>Col·laborem amb:</small>
    <div style="display: block"><a href="https://liniagame.cat"><img src="images/logo-linia.jpeg" style="height: 64px; width: auto; margin-right: 8px" alt="Linia Club" /></a>
    <a href="https://instagram.com/dbrunchfest"><img src="images/dbrunch.jpg" style="height: 64px; width: auto" alt="DBrunch" /></a></div></div>
    {%- assign _site_author = site.author -%}
    {%- if _site_author.type == 'organization' -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Organization' -%}
    {%- else -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Person' -%}
    {%- endif -%}

    <div itemscope itemtype="{{ _site_author_itemtype }}">
      <div id="google_translate_element" class="google" style="width: 100%; left: calc(50% - 90px); right: calc(50% - 90px); position: relative; margin-bottom: 16px;"></div>

      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'ca', includedLanguages: 'es,eu,gl,en,fr,it,pt,de', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true}, 'google_translate_element');
        }
      </script>

      <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <meta itemprop="name" content="{{ _site_author.name }}">
      {%- assign _site_author_url = _site_author.url | default: '/'-%}
      {%- include snippets/get-nav-url.html path=_site_author_url -%}
      {%- assign _site_author_url = __return -%}
      <meta itemprop="url" content="{{ _site_author_url }}">
      {%- if _site_author.bio -%}
        <meta itemprop="description" content="{{ _site_author.bio }}">
      {%- endif -%}
      <div class="footer__author-links">
        {%- include author-links.html author=_site_author -%}
      </div>
    </div>
    {%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
    {%- assign _locale_copyright_dates = __return -%}
    <div class="site-info mt-2">
      <div>
        {%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
        {%- assign _locale_copyright_dates = __return -%}
        © {{ site.title }} {{ _locale_copyright_dates }}.
      </div>
    </div>
  </div>
</footer>
