---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    {%- include scripts/variables.html -%}
  </head>
  <body>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
      window.addEventListener('DOMContentLoaded',function () {
        if (window.location.hash == "#hideUI") {
          if (document.getElementsByClassName("page__header")[0]) document.getElementsByClassName("page__header")[0].setAttribute("style", "display:none"); 
          if (document.getElementsByClassName("page__footer")[0]) document.getElementsByClassName("page__header")[0].setAttribute("style", "display:none"); 
          if (document.getElementsByClassName("article__header")[0]) document.getElementsByClassName("page__header")[0].setAttribute("style", "display:none"); 
          if (document.getElementsByClassName("article__header--cover")[0]) document.getElementsByClassName("page__header")[0].setAttribute("style", "display:none"); 
        }
      });
    </script>
  </body>
</html>
